<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Cantina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>

<body>
    <div class="container">
        <h1>Bem-vindo à Cantina</h1>
        <div class="menu">
            <a href="reservar.html" class="btn">Reservar Refeição</a>
            <a href="reservas.html" class="btn">Ver Reservas</a>
            <a href="menu.html" class="btn">Ver Ementa Semanal</a>
        </div>
    </div>
</body>
</html>
