<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Cantina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <div class="container">
        <h1>Bem-vindo à Cantina</h1>
        <div class="menu">
            <a href="{{ url_for('reservar', username=username) }}" class="btn">Reserve a sua refeição</a>
            <a href="{{ url_for('reservas', username=username) }}" class="btn">Ver Reservas</a>
            <a href="{{ url_for('menu', username=username) }}" class="btn">Ver Ementa semanal</a>
            {% if group == 'funcionário' %}
            <a href="{{ url_for('relatorio', username=username) }}" class="btn">Ver Relatório</a>
            {% endif %}
        </div> 
        <div class="navigation">
            <a href="{{ url_for('logoff') }}" class="logoff-btn">Logoff</a>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
        </div> 
    </div>
</body>
</html>
