<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Inválidas - Cantina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}"> 
</head>
<body>
    <div class="container">
        <h1>Reservas Inválidas</h1>
        <p>Reserva Inválida. Escolha uma data possível!</p>
        <div class="navigation">
            <button class="btn" onclick="window.history.back()">Voltar</button>
        </div>
    </div>
</body>
</html>
