<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Reservas - Cantina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
</head>
<body>
    <div class="container">
        <h1>Suas Reservas</h1>
        <ul>
            <li>Almoço - 2024-05-18</li>
            <li>Jantar - 2024-05-19</li>
            <!-- Adicione aqui as reservas dinâmicas -->
        </ul>
        <div class="navigation">
            <button class="btn" onclick="window.history.back()">Voltar</button>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
        </div>
    </div>

</body>
</html>

