<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Refeição - Cantina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}"> 
</head>
<body>
    <div class="container">
        <h1>Reservar Refeição</h1>
        <form action="{{ url_for('reservar', username=username) }}" method="POST">
            <label for="data">Data:</label><br>
            <input type="date" id="data" name="data"><br><br>
            <label for="refeicao">Refeição:</label><br>
            <select id="refeicao" name="refeicao">
                <option value="almoco">Almoço</option>
                <option value="jantar">Jantar</option>
            </select><br><br>
            <label for="tipo">Tipo:</label><br>
            <select id="tipo" name="tipo">
                <option value="carne">Carne</option>
                <option value="peixe">Peixe</option>
                <option value="vegetariano">Vegetariano</option>
            </select><br><br>
            <button class="btn" type="submit">Reservar</button>
        </form>
        <div class="navigation">
            <a class="btn" href="{{ url_for('index', username=username) }}">Voltar</a>
        </div>
    </div>
</body>
</html>
