<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Reservations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}"> 
    <style>
        h1 {
            margin-bottom: 20px; /* Add margin-bottom for the title */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>As Suas Reservas</h1>
        <table border="1" width="100%">
            <tr>
                <th>Data</th>
                <th>Refeição</th>
                <th>Prato</th>
            </tr>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.data }}</td>
                <td>{{ reservation.prato }}</td>
                <td>{{ reservation.tipo }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            <div class="navigation">
                <a class="btn" href="{{ url_for('index', username=username) }}">Voltar</a>
            </div>
            <div class="navigation">
                <a class="btn" href="{{ url_for('menu', username=username) }}">Ementa</a>
            </div>
        </div>
    </div>
</body>
</html>
