<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .container {
            margin-top: 50px;
        }
        h2 {
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Reserva concluída!</h2>
        <p>A sua reserva na nossa cantina foi aceite!</p>
        <p>Obrigado por escolher os nossos serviços</p>
    </div>
</body>
</html>
